{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Veterans Portfolio</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'register/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'register/css/index.css' %}">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <!-- fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'register/images/c_r.ico' %}">
    
</head>
<body>
    <!-- nav -->
    <h1></h1>

    <div id="main">
        {% block content %}{% endblock %}
    </div>
    
    <footer>
        <p>© 2020 veterans / <a href="http://veteransjapan.com/" target="_blank">http://veteransjapan.com/</a></p>
    </footer>

</body>
</html>
