/* card design */
.cards ul {
  margin: 30px;
  padding: 0px;
}
.cards li {
  display: inline-block;
  list-style: none;
}
.card {
  width: 216px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-top: 20px;
}
.card-img {
  display: block;
  margin: auto;
}

.card-content {
  padding: 20px;
}
.card-title {
  font-size: 14px;
  margin-bottom: 20px;
  height: 28px;
  color: #333;
}
.card-text {
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  height: 60px;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}

/* search-form */
#search-form li {
  display: inline-flex;
}
