{% extends "shop/base.html" %}
{% block content %}
    <h1>{% if user.username %}{{ user.username }}{% else %}ゲスト{% endif %} のマイページ</h1>
    <a href="{% url 'shop:product_register' %}">登録</a>
    <hr>
    <h2>あなたの持っている商品</h2>
    <ul>
        {% for product in products %}
            <li><a href="{% url 'shop:product_detail' product.pk %}">{{ product.name }}</a></li>
        {% empty %}
            <li>まだ商品がありません。</li>
        {% endfor %}
    </ul>

    <h2>あなたの持っている商品に対する会話</h2>
    {% for discussion in discussions %}
        <p><u>{{ discussion.product.name }}</u>: {{ discussion.chat }}</p>
        <hr>
    {% empty %}
        <p>まだ会話はありません。</p>
    {% endfor %}
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeChP1cb6M3eyDqDRE-Fqq7IMQCv6LSeV76R1Dak25gRKUapA/viewform">退会</a>  
{% endblock %}
