{% extends "shop/base.html" %}
{% load humanize %}
{% load static %}
{% block content %}
    トップページです（ログインなしでも可）

    <h1>商品一覧</h1>

    <aside id="search" class="container">
        <h2>Search</h2>
        <form method="GET" id="search-form">
            {{ search_form.category }}
            <div class="field">
                {{ search_form.keyword }}
            </div>
            <div class="field">
                <button type="submit">送信</button>
            </div>
        </form>
    </aside>
    <hr>

    <h2>商品概要リスト</h2>
    <div class="cards">
        <ul>
            {% for product in product_list %}
                <li>
                    <section class="card">
                        <img class="card-img" src="{% static 'shop/img/' %}{{ product.id }}.jpg" alt="{{ product.name }}">
                        <div class="card-content">
                            <h3 class="card-title">{{ product.name }}</h3>
                            <p class="card-text">
                                price: {{ product.price | intcomma }} 円<br>
                                {{ product.description | truncatechars:20 }}<br>
                            </p>
                        </div>
                        <div class="card-link">
                            <a href="{% url 'shop:product_detail' product.pk %}">もっと詳しく</a>
                        </div>
                    </section>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
